.fondoNegro {
  background-color: black;
}

.colorAmarillo {
  color: yellow;
}

.colorRojo {
  color:red;
}

.colorAzul {
  color:white;
  background-color: lightblue;
}

.espaciado {
  padding: 20px;
}